<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      เอกสารเผยแพร่
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page13" class="section">
    <ion-list>
        <ion-searchbar (ionInput)="getItems($event)" placeholder="ใส่ข้อความที่ต้องการค้นหา..."></ion-searchbar>
        <ion-grid >
            <ion-row class="section1">
              <ion-col col-6 *ngFor="let item of download">
                <ion-card >
                    <ion-card item-center>
                        <ion-card-content>
                            <img class="sizeCol" src="assets/img/symbol.png">
                        </ion-card-content>
                          </ion-card>
                  <ion-card-content>
                    <p> {{ item.dow_address}} </p>

                     <button id="login-button2" ion-button clear color="positive" block href-inappbrowser="/signup" (click)="doAlert(item)">
            download
              </button>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>

          </ion-list>


          <ion-item>
            <p>{{imageURI}}</p>
            <button ion-button color="secondary" (click)="getImage()">Get Image</button>
          </ion-item>
          <ion-item>
            <h4>Image Preview</h4>
            <img src="{{imageFileName}}" *ngIf="imageFileName" alt="Ionic File" width="300" />
          </ion-item>
          <ion-item>
            <button ion-button (click)="uploadFile()">Upload</button>
          </ion-item>

          
</ion-content>
