page-contactus {

    .resizedTextArearbox {width: 100%; height: 70px; padding: 1px;}

    .buttonSize{width: 100px; padding-top: 10px;  left:  35%;}

    .section{
      //background: rgb(179, 218, 75);
      color: #000000;
      background-image: url('../assets/img/bg2.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
  }

    #map {
    height: 100%;
  }
}
