page-contactus {

    .resizedTextArearbox {width: 100%; height: 70px; padding: 1px;}

    .buttonSize{width: 100px; padding-top: 10px;  left:  35%;}

    .section{
        background: rgb(223, 247, 185);
        color: #000000;

    }
    #map {
    height: 100%;
  }
}
