page-about {
    .slider {
        height: 100%;
      }
      .slider-slide {
        color: #000; 
        background-color: #fff; text-align: center; 
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300; }
      .blue {
        background-color: blue;
      }
      
      .yellow {
        background-color: yellow;
      }
      
      .pink {
        background-color: pink;
      }
      .box{ 
        height:100%; 
      } 
      .box h1{
        position:relative; top:50%; transform:translateY(-50%); 
      }
}
