page-about {
    .slider {
        height: 100%;
      }
      .slider-slide {
        color: #000;
        background-color: #fff; text-align: center;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300; }
      .blue {
        background-color: blue;
      }

      .yellow {
        background-color: yellow;
      }

      .pink {
        background-color: pink;
      }
      .box{
        height:100%;
      }
      .box h1{
        position:relative; top:50%; transform:translateY(-50%);
      }
        .news-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .news-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
  .gradient {background-image:
    linear-gradient(90deg,#4d912b, #cacb3a 90%);

}
.section3{
  background: rgb(223, 247, 185);
  color: #000000;

}
.section{
  //background: rgb(179, 218, 75);
  color: #000000;
  font-family: 'Kanit', sans-serif;
  background-image: url('../assets/img/bg2.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
}
}
