page-login {
    .section{
        background: #8FAF37;
        color: #000000;
        //height: 100%;
        //width: 100%;
        //margin-left: 36%;
    }
    .section1{
        background: #8FAF37;
        color: #000000

    }
    .section2{
        background: #fff;
        color: #000000;
        margin-top: 5%;

    }
    .section3{
        margin-top: 30%;
    }
    .bg{
      //background: #8FAF37;
      //background: gradient(#fff 0%, #8FAF37 100%)
      /*background-image: url('../assets/img/bglogin2.jpg');
        background-repeat: no-repeat;
        background-size: 100%;*/
    }
}

