page-login {
    .section{
        background: rgb(219, 250, 169);
        color: #000000;
        height: 30%;
        width: 30%;
        margin-left: 36%;
    }
    .section1{
        background: rgb(223, 247, 185);
        color: #000000;

    }
    .section2{
        background: #fff;
        color: #000000;
        margin-top: 5%;

    }
}

