page-register {
  .section{
    //background: rgb(179, 218, 75);
    color: #000000;
    background-image: url('../assets/img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

}
.section1{
  color: #8FAF37;

}
.fonts{
  color: rgb(82, 82, 82);

}

}
