<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button end icon-only (click)="goToSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      E-learning
    </ion-title>
  </ion-navbar>
</ion-header>
<!-- <ion-content id="page2" style="background-color:#95F04D;"> -->
<ion-content class="section1">
  <img src="assets/img/sYDY78VHSJynacq1yAAB_banner-animation.jpg" style="display:block;width:100%;height:50%;" />
  <div class="spacer" style="height:10px;" id="eLearning-spacer2"></div>

  <ion-list>

    <ion-card >
      <ion-item>
        <ion-grid >
          <ion-row>
            <ion-col col-75>
              <ion-item>
                ป้ายประชาสัมพันธ์
              </ion-item>
            </ion-col>
            <ion-col col-auto>
              <ion-item>
                <button ion-button item-end clear on-click="goToBanner()">ดูทั้งหมด</button>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-slides autoplay="500" loop="true" speed="3000">
                <ion-slide *ngFor="let img of imageArray">
                  <ion-card>
                    <img class="setTest" src="{{img.image}}">
                  </ion-card>
                </ion-slide>
              </ion-slides>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item-sliding>

        <ion-item>
          <ion-grid >
            <ion-row>
              <ion-col col-75>
                <ion-item>
                  ข่าวประชาสัมพันธ์
                </ion-item>
              </ion-col>
              <ion-col col-auto>
                <ion-item>
                  <button ion-button item-end clear on-click="goToNews()">ดูทั้งหมด</button>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col >
                <ion-slides autoplay="200" loop="true" on-release="true" speed="10000">
                  <ion-slide >
                    <h1>NEWS </h1>
                  </ion-slide>
                  <ion-grid *ngFor="let item of news">
                    <ion-card class="setCard" (click)="openItem(item)">
                      <ion-slide  class="section2">
                        <ion-row   >
                          <ion-col col-auto>
                            <!-- <img [src]="item.cms_picture" /> -->
                            <ion-card item-center class="setsizeimg">
                              <img  src="assets/img/room.jpg" />
                            </ion-card>
                            <h2>{{ item.cms_title}}</h2>
                            <p>{{ item.cms_short_title}}</p>
                            <p item-end>{{ item.create_date}}</p>
                          </ion-col>
                        </ion-row>
                      </ion-slide>
                    </ion-card>
                  </ion-grid>
                </ion-slides>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- <ion-note item-right></ion-note> -->
          <!-- <ion-icon name="arrow-forward" item-right></ion-icon> -->
        </ion-item>

      </ion-item-sliding>
    </ion-card>

    <ion-card >
      <ion-item-sliding >
        <ion-item on-click="goToDocuments()" id="eLearning-list-item23" c>
          เอกสารแผยแพร่
          <ion-note item-right></ion-note>
          <ion-icon name="arrow-forward" item-right></ion-icon>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="positive">
            กด
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-grid >
          <ion-row>
            <ion-col col-75>
              <ion-item>
                วีดีโอแนะนำ
              </ion-item>
            </ion-col>
            <ion-col col-auto>
              <ion-item>
                <button ion-button item-end clear on-click="getVdo()">ดูทั้งหมด</button>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <!-- <iframe width="500" height="400" ng-src="{item.vdo_path}"></iframe> -->
              <video item-center controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                <source src="https://player.vimeo.com/external/76336826.sd.mp4?s=dd361715fad172bf26ba0ad91635c4f9" type="video/mp4" />
              </video>
              <!-- <p>{{ item.vdo_path }}</p> -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>


    <ion-card>
      <ion-item>
        <ion-grid >
          <ion-row>
            <ion-col>
              <ion-item>
                หน่วยงานที่เกี่ยวข้อง
              </ion-item>
            </ion-col>
            <ion-col col-auto>
              <ion-item>
                <button ion-button item-end clear on-click="getFeatured()">ดูทั้งหมด</button>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-slides autoplay="200" loop="true" on-release="true" speed="10000">
                <ion-slide>
                  <h1>Slide 2</h1>
                </ion-slide>
                <ion-grid *ngFor="let itemF of featuredlinks">
                  <ion-card clear item-height="100%" item-width="100%" (click)=" OpenUrl(itemF.link_url);">
                    <ion-slide>
                      <ion-row>
                        <ion-col col-auto>
                          <img class="setCard" item-height="100%" src="assets/img/linktwo.png" />
                        </ion-col>
                      </ion-row>
                    </ion-slide>
                  </ion-card>
                </ion-grid>
              </ion-slides>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>


  </ion-list>
</ion-content>
