page-banner-detail {
  .section{
    //background: rgb(179, 218, 75);
    color: #000000;
    font-family: 'Kanit', sans-serif;
    background-image: url('../assets/img/bg2.jpg');
          background-repeat: no-repeat;
          background-size: 100%;
  }
  .section1{
    background: rgb(187, 187, 186);
    //olor: #000000;
    
  }
}
