page-dashboard {
    .setCard{
        width: 100%;
        height: 200px;
    }
    .setsizeimg{
        width: 100px;
        height: 100px;
    }
    .setTest{
        width: 100%;
        height: 200px;
    }
}
