<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      {{course_title}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <ion-toolbar>
    <ion-segment>
      <ion-segment-button>
        ภาพรวมหลักสูตร
      </ion-segment-button>
      <ion-segment-button>
        ประเมิน
      </ion-segment-button>
      <ion-segment-button>
        ผลการสอบและพิมพ์ใบประกาศ
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-card>
          <ion-col>
            <!-- <img src="asset/imgs/" /> -->
            <img height="100%" src="assets/imgs/nom.png" />

          </ion-col>
        </ion-card>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          {{course_detail}}
          <p [innerHTML]="course_detail"></p>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </ion-card>

  <!--
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button>
        รายละเอียด
      </ion-segment-button>
      <ion-segment-button>
        เนื้อหาของคอร์สนี้
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->

  <div padding>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="kittens">
        รายละเอียด
      </ion-segment-button>
      <ion-segment-button value="puppies">
        เนื้อหาของคอร์สนี้
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'puppies'">
      <label>
        <ion-grid>
          <ion-list padding class="test">
            <label>
              <label>
                <h3 text-center>
                  {{course_title}}
                </h3>
              </label>
              <ion-row>
                <ion-col col-75>
                  <label>
                    แบบทดสอบก่อนเรียน
                  </label>
                </ion-col>
                <ion-col col-auto>
                  <button ion-button clear item-end (click)="openPretest(p)">
                    ทำแบบทดสอบ
                  </button>
                </ion-col>
              </ion-row>
              <ion-row *ngFor="let p of results_course">
                <ion-col col-75>
                  {{p.title}}
                </ion-col>
                <ion-col col-auto>
                  <button ion-button clear item-end (click)="openVDO(p)">
                    ทดสอบบบบบบบ
                  </button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-75>
                  <label>
                    บททดสอบหลังเรียน
                  </label>
                </ion-col>
                <ion-col col-auto>
                  <button ion-button clear item-end (click)="openPosttest(p)">
                    ทำแบบทดสอบ
                  </button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-75>
                  <label>
                    แบบสอบถาม
                  </label>
                </ion-col>
                <ion-col col-auto>
                  <button ion-button clear item-end (click)="openQuestion(p)">
                    ทำแบบสอบถาม
                  </button>
                </ion-col>
              </ion-row>
            </label>
          </ion-list>
        </ion-grid>
      </label>
    </ion-list>
    <ion-list *ngSwitchCase="'kittens'">
      <label>
        <ion-card padding>
          {{course_detail}}
        </ion-card>
      </label>
    </ion-list>
  </div>
  <!-- <ion-list>
    <ion-item *ngFor="let item of results" (click)="openItem(item)">
        <ion-card> -->
  <!-- <iframe width="500" height="400" ng-src="{item.vdo_path}"></iframe> -->
  <!-- <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
            <source src="{item.vdo_path}" type="video/mp4" />
          </video>
          <p>{{ item.vdo_path }}</p> -->
</ion-content>
