<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      {{course_title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="section">
  <ion-toolbar>
    <ion-segment class="section2">
      <ion-segment-button>
        ภาพรวมหลักสูตร
      </ion-segment-button>
      <ion-segment-button>
        ประเมิน
      </ion-segment-button>
      <ion-segment-button>
        ผลการสอบและพิมพ์ใบประกาศ
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-card>
          <ion-col>
            <!-- <img src="asset/imgs/" /> -->
            <img height="100%" src="assets/img/picture.jpg" />

          </ion-col>
        </ion-card>
      </ion-row>

    </ion-grid>
  </ion-card>



  <div padding>
    <ion-segment [(ngModel)]="pet" >
      <ion-segment-button value="kittens" color="primary">
        รายละเอียด
      </ion-segment-button>
      <ion-segment-button value="puppies">
        เนื้อหาของคอร์สนี้
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'puppies'">
      <label>
        <ion-grid>
          <ion-list padding class="test">
            <label>

              <ion-row (click)="QuizPage()">
                <ion-card>
                  <ion-item>
                  <ion-col col-75>
                   
                      <label>ข้อสอบก่อนเรียน (Pre Test)</label>
                    
                  </ion-col>
                  </ion-item>
                </ion-card>
              </ion-row>

              <ion-row *ngFor="let p of results_course ; let i = index" >
   
                    <ion-col>
                      <button class="section1" ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': p.open, 'section': !p.open}"
                        color="stable" block>
                        <ion-icon item-right name="md-arrow-dropright" *ngIf="!p.open"></ion-icon>
                        <ion-icon item-right name="md-arrow-dropdown" *ngIf="p.open"></ion-icon>
                      {{p.title}}
                      </button>
                    </ion-col>
             
              </ion-row>

              <!-- <ion-row>
                <ion-col col-75>
                  <label>
                    บททดสอบหลังเรียน
                  </label>
                </ion-col>
                <ion-col col-auto>
                  <button ion-button clear item-end (click)="openPosttest(p)">
                    ทำแบบทดสอบ
                  </button>
                </ion-col>
              </ion-row> -->
              <ion-row (click)="openQuestion(p)">
                <ion-card>
                  <ion-item>
                    <ion-col col-75>
                      <label>
                        ข้อสอบหลังเรียน (Post Test)
                      </label>
                    </ion-col>
                  </ion-item>
                </ion-card>
              </ion-row>

            </label>
          </ion-list>
        </ion-grid>
      </label>
    </ion-list>
    <ion-list *ngSwitchCase="'kittens'">
      <label>
        <ion-card padding>
          {{course_detail}}
        </ion-card>
      </label>
    </ion-list>
  </div>
  <!-- <ion-list>
    <ion-item *ngFor="let item of results" (click)="openItem(item)">
        <ion-card> -->
  <!-- <iframe width="500" height="400" ng-src="{item.vdo_path}"></iframe> -->
  <!-- <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
            <source src="{item.vdo_path}" type="video/mp4" />
          </video>
          <p>{{ item.vdo_path }}</p> -->
</ion-content>