<ion-header  >
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      วิธีการใช้งาน
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="page7" class="section">
  <ion-searchbar (ionInput)="getItems($event)" placeholder="ใส่ข้อความที่ต้องการค้นหา..."></ion-searchbar>
  <br>
  <ion-grid>
    <ion-row >
      <ion-col col-6 *ngFor="let item of usability" (click)="doAlert(item)">
        <ion-card class="section1">
          <ion-card-content>
            <ion-card item-center>
          <ion-card-content>
              <img class="sizeCol" src="assets/img/symbol.png">
          </ion-card-content>
            </ion-card>
            <p> {{ item.usa_title}} </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-list  >
    <button ion-item  *ngFor="let item of usability" (click)="doAlert(item)">
        <p class="section">  {{ item.usa_title}} </p>

        <ion-thumbnail item-start class="ascordion-list">
            <img src="assets/img/symbol.png">
          </ion-thumbnail>

    </button>
  </ion-list>  -->

</ion-content>
