page-usability {
  .section{
    //background: rgb(179, 218, 75);
    color: #000000;
    background-image: url('../assets/img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

}

.section1{
  background: rgb(145, 168, 80);
  color: #000000;

}
    .section-active{
        background: rgb(248, 236, 123);
        color: rgb(253, 175, 112);

    }

    ion-alert {
        &.alert-warning {
          .alert-head {
            background: map-get($colors, warning);
            color: rgb(248, 236, 123);;
            margin-bottom: 10px;
          }
        }
        &.alert-danger {
          .alert-head {
            background: map-get($colors, danger);
            color: rgb(253, 175, 112);;
            margin-bottom: 10px;
          }
        }
        &.alert-success {
          .alert-head {
            background: map-get($colors, success);
            color: #fff;
            margin-bottom: 10px;
          }
        }

      }

      .sizeCol{
        width: 100%;
        height: 100%;
            }

            .gradient {background-image:
                linear-gradient(
                  red 10%, #f06d06 90%
                );
            }
}
