// http://ionicframework.com/docs/v2/theming/



$SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.4);


$balanced: #8FAF37;
$SIDEMENU_TOP: #53932e;
$SIDEMENU_BUTTOM: #c5c83d;
$SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.4);


#side_menu100{
    background: -webkit-linear-gradient(left top, $SIDEMENU_TOP,$SIDEMENU_BUTTOM);
    background: -o-linear-gradient(bottom right, $SIDEMENU_TOP,$SIDEMENU_BUTTOM);
    background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP,$SIDEMENU_BUTTOM);
    background: linear-gradient(to bottom right, $SIDEMENU_TOP,$SIDEMENU_BUTTOM);
};

#side-menu21{
  background: none;
	color: white;
	font-weight: 400;
	border: 0xp;
	.item-content {
		background: none;
		&.activated {
			background: $SIDEMENU_TRANSPARENCY;
		}

	}
};

/*@font-face {
  font-family: RSU_Regular;
  src: url("…/assets/font/RSU_Regular.ttf");

  }

  body, span,  h1, h2, h3, h4, h5, h6, p, ion-item, ion-title  {
  font-family: RSU_Regular !important;
  }*/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
