page-forgot-pass {
    .section{
        margin-top: 2%;
        margin-left: 20%;

    }
    .section1{
        background: rgb(223, 247, 185);
        color: #000000;
    }
    .section2{
       margin-left: 9%;
    }
    .section3{
        margin-top: 5%;
     }
     .section4{
        height: 30%;
        width: 35%;
        margin-left: 36%;
     }

    }


