<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      หลักสูตร
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <!-- <ion-title>หมวดหมูหลักสูตร</ion-title> -->
  <ion-list>
    <ion-item *ngFor="let item of results" (click)="openItem(item)">
      <div>
        <p>{{ item.cate_title }}</p>
      </div>
    </ion-item>
  </ion-list>
  <ion-list>
    <p>test text</p>
    <ion-item *ngFor="let i of text">
      <div>
        <button ion-button full color="secondary">{{ i.cate_id }}</button>
        <!-- <p>{{ i.vdo_title }}</p> -->
      </div>
    </ion-item>
  </ion-list>
</ion-content>