page-course {
    .container{
        background-size: cover;
        min-height: 50px;
    }
    .section{
        background: rgb(113, 209, 50);
        color: #000000;
    }
    .section1{
        background: rgb(223, 247, 185);
        color: #000000;
       
        
    }

}
