<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      หลักสูตร
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3" class="section1">
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-title>หมวดหมูหลักสูตร</ion-title>

  <article>
    <h2>select </h2>
    <select (change)="selectChangHandler($event)">
      <option *ngFor="let item of results" value="{{ item.cate_id }}">{{ item.name }}</option>
    </select>
  </article>

  <ion-grid>
    <ion-row>
        <ion-col col-6 col-md-4 col-xl-3 *ngFor="let i of text">
            <ion-card (click)="openItem(item)">
                <ion-card>
                  <img height="100%" src="assets/imgs/nom.png" />
                </ion-card>
              <div class="container" padding>
                <p>{{ i.course_short_title }}</p>
              </div>
            </ion-card>
          </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>