page-banner {

    .bg{
      background: #8FAF37;
      background: gradient(#fff 0%, #8FAF37 100%);
    //   background-image: url('../assets/img/bglogin2.jpg');
        // background-repeat: no-repeat;
        // background-size: 100%;


    }

    .alert-ios .alert-message, .alert-ios .alert-input-group {
    text-align: center;
    font-size: 18px;
    color: inherit;
    padding: 0 16px 21px;
     background: #8FAF37;
      background: gradient(#fff 0%, #8FAF37 100%);
}
.section{
  //background: rgb(179, 218, 75);
  color: #000000;
  font-family: 'Kanit', sans-serif;
  background-image: url('../assets/img/bg2.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
}
}

  .alert-ios .alert-message {
    max-height: 340px;
}
