page-vdo {
  .news-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .news-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
