page-new-course {

  ion-list {
    ion-item {
      background-color: transparent;
      padding-left: 0;
      position: relative;
    }
    ion-label {
      div {
        text-transform: none;
        font-size: 0.8em;
        padding: 1em 0;
        white-space: normal;
        text-align: justify;
      }
    }
    ion-icon  {
      font-size: 1.8rem;
      padding: 0;
      text-align: center;
      position: absolute;
      right: 10px;
      top: 3px;
      &:before {
        font-weight: bold;
      }
    }
  }

    .section{
      //background: rgb(179, 218, 75);
      color: #000000;
      background-image: url('../assets/img/bg2.jpg');
      background-repeat: no-repeat;
      background-size: 100%;

  }

  .section1{
    background: rgb(213, 255, 115);
    color: #000000;

  }
      .section-active{
          background: rgb(248, 236, 123);
          color: rgb(253, 175, 112);

      }

      ion-alert {
          &.alert-warning {
            .alert-head {
              background: map-get($colors, warning);
              color: rgb(248, 236, 123);;
              margin-bottom: 10px;
            }
          }
          &.alert-danger {
            .alert-head {
              background: map-get($colors, danger);
              color: rgb(253, 175, 112);;
              margin-bottom: 10px;
            }
          }
          &.alert-success {
            .alert-head {
              background: map-get($colors, success);
              color: #fff;
              margin-bottom: 10px;
            }
          }

        }

        .sizeCol{
          width: 100%;
          height: 100%;
              }

              .gradient {background-image:
                  linear-gradient(
                    red 10%, #f06d06 90%
                  );
              }

              .section2{
                background: rgb(253, 242, 138);
                color: #000000;

              }
              .section3{
                //background: rgb(253, 242, 138);
                //color: #000000;
                margin-top: 20%
              }
              .section4{
              height: 20%;
              width: 90%;
              margin-left: 5%
              }
              .section5{
                margin-left: 10%
                }
  }




