<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      ถาม-ตอบใหม่ครับ
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-searchbar [(ngModel)]="searchQuery" (input)="searchGIFs()" ></ion-searchbar> -->
  <ion-searchbar (ionInput)="getItems($event)" placeholder="ใส่ข้อความที่ต้องการค้นหา..."></ion-searchbar >
  <ion-list inset>
     <!-- <ion-item *ngFor="let item of faq">  -->
        <div>
          
            <button ion-item *ngFor="let item of faq" (click)="itemSelected(item)">
           <h3>{{ item.faq_type_title_TH}}</h3>
           <!-- {{topics}} -->
        </button> 
        </div>
     <!-- </ion-item>  -->
  </ion-list> 
</ion-content>

