page-faq {

    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .accordion-list {
        //background: rgb(179, 218, 75);
        //height: 100%;
        background-image: url('../assets/img/bg2.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        //font-family: 'Prompt', sans-serif;
    } //สีด้านล่างสุด
    .section{
        //background: rgb(179, 218, 75);
        background-image: url('../assets/img/bg2.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        color: #000000;

        //สีที่ค้นหา

    }
    .section1{
        //background: #dbfda3;
        //background: rgb(195, 241, 255);


        color: #000000;
        //font-family: 'Prompt', sans-serif;

    }
    .section-active {
        background: #8FAF37;
        color: #000;
        //font-family: 'Prompt', sans-serif;
    } //สีเมื่อกดเลือกหัวข้อในการอ่าน

    .child {
        background: #e8e7e6;
        color: #000;
        margin-bottom: 4px;
        //font-family: 'Prompt', sans-serif;
    }
    .child-item {
        background: #e6e6e6;
        color: #000;
        padding: 15px;
        //font-family: 'Prompt', sans-serif;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 4px;
    }

}
